
#root {
    margin: auto;
    text-align: center;
  }
  
  
  :root{
      --background-header: #525CEB;
      --background-main:  #0f172a;
      --backgroud-degree: #444a6eae;  
      --backgroud-tecnology: rgb(71, 19, 78);
      --title: #eee9e9;
      --sub-title: #FE7BE5;
      --text-important: 	#FFF8E7; 
      --text: #bcbbbb;
      --text-tecnology: #73EEDC;
      --opasity: 80%;
      --tw-text-opacity: 1;
  }
  
  
  /*GLOBAL DESING*/
  .title {
    color: var(--title);
    margin-inline: auto;
    text-align: center;
    margin-top: 75px;
  }
  
  .sub-title {
    margin: 10px;
    font-size: 17px;
    color: var(--sub-title);
    text-transform: capitalize;
  }
  
  .icons{
    width: 50px;
    height: 50px;
    margin-inline: auto;
  }



  
  /* Specific Desing */
  html ::-webkit-scrollbar {
    display: none;
  }

  
  /* BODY SECTION */
  body {
    color: var(--text);
    margin: 0;
    padding-top: 0px;
    background: var(--background-main);
    animation: wavy 3s ease-in-out infinite;
    z-index: -2;
    }
  
  /*card infomation*/
  .card_content {
    width: 80%;
    min-height: 100vh;
    margin-left: auto;
    position: static;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .Project_component{
    width: 100%;
    height: auto;
    padding: 5px;
    box-shadow: 10px 10px black;
    
  }
  .logo_shadow:hover{
    filter: drop-shadow(0 0 .3em #7177de);
    transform: scale(1.03);
  }
  
  @media (max-width: 767px) {
    .card_content {
        color: var(--text-important);
        min-height: 100vh;
        background: var(--background-main);
        width: 100%;
    }
  
  }